<% if current_user.type == "Drycleaner" %>
	<% @items.each do |item| %>
	  <h4><%= item.description %></h4>
	  <h4><%= item.quantity %></h4>
	  <h4><%= item.amount %></h4>
	<% end %>
	<%= link_to "Add Item", new_user_invoice_item_path(current_user, @invoice), class: 'btn btn-default' %>
  <%= simple_form_for ([current_user, @invoice]) do |f| %>
    <div class="col-md-2 col-md-offset-5">
      <%= f.input :name %>
      <%= f.input :customer_email %>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <%= f.input :pickup %>
    </div>
    <div class="col-md-2 col-md-offset-5">
      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    </div>
  <% end %>
<% else %>
  <h4>Dry Cleaner: <%= @invoice.drycleaner_email %></h4>
  <h4>Pickup Time: <%= @invoice.pickup %></h4>
<% end %>
<div id="footer">
  <h4 class="left-right">Subtotal: $<%= @invoice.subtotal %></h4>
  <h4 class="left-right" >Total: $<%= @invoice.total %></h4>
</div>
