<% @items.each do |item| %>
  <h4><%= item.description %> $<%= item.quantity %> $<%= item.amount %></h4>
<% end %>
<% if current_user.type == "Drycleaner" %>
  <% if @invoice.id %>
	  <%= link_to "Add Item", new_invoice_item_path(@invoice), class: 'btn btn-default' %>
  <% end %>
  <%= simple_form_for @invoice do |f| %>
    <div class="col-md-2 col-md-offset-5">
      <%= f.input :name %>
      <%= f.input :customer_email %>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <%= f.input :pickup %>
    </div>
    <div class="col-md-2 col-md-offset-5">
      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    </div>
  <% end %>
<% else %>
  <h4>Dry Cleaner: <%= @invoice.drycleaner_email %></h4>
  <h4>Pickup Time: <%= @invoice.pickup %></h4>
<% end %>
<div id="footer">
  <h4 class="left-right">Subtotal: $<%= @invoice.subtotal %></h4>
  <h4 class="left-right" >Total: $<%= @invoice.total %></h4>
</div>
