<div class="text-center">
    <div class="col-md-2 col-md-offset-5">
    <%= simple_form_for ([@invoice, @item]) do |f| %>
      <div class="field form-group">
        <%= f.input :description %>
      </div>
      <div class="field form-group">
        <%= f.input :quantity %>
      </div>
      <div class="field form-group">
        <%= f.input :amount %>
      </div>
      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>
</div>