<div class="col-md-2 col-md-offset-5">
  <%= simple_form_for ([@invoice, @invoice.items.build]) do |f| %>
    <div class="field form-group">
      <%= f.input :description %>
      <%= f.input :quantity %>
      <%= f.input :amount %>
    </div>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
